.Header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 40px;
}

.Header .Header-title{
  font-size: 1.3rem;
  font-weight: bold;
}

.Header .Header-menu {
  display: flex;
  padding-left: 30px;

}

.Header .Header-menuItem {
  padding: 10px 0;
  font-size: 1.3rem
}

.Header .Header-menuItem a {
  text-decoration: none;
  color: #999999;
  padding: 0 10px;
}

.Header .Header-menuItem a.selected {
  border-bottom: 2px solid green;
}